<!DOCTYPE html>
<html ng-app="omdb">

<head>
    <meta charset="utf-8">
    <title>MovieApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- bower:js -->
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-resource/angular-resource.js"></script>
    <script src="../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../lib/angular-route/angular-route.js"></script>
    <script src="../lib/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <!-- include source files here... -->
    <!-- include spec files here... -->
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="page-header">
                <h1><a href="#/">MovieApp</a></h1>
                <p class="lead">Your Resource for Movie Data.</p>
            </div>
            <div ng-controller="SearchController as SearchCtrl">
                {{SearchCtrl | json}}
                <form class="form-inline-lg" ng-submit="SearchCtrl.search()">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Film title..." ng-model="SearchCtrl.query" ng-keyup="SearchCtrl.keyup()", ng-keydown="SearchCtrl.keydown()">
                        <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="SearchCtrl.search()">Go!</button>
            </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-view=""></div>
    </div>
    <hr>
    <div class="footer">
        <div class="container">
            <p>from @kykelyn | movie data from http://www.omdbapi.com</p>
        </div>
    </div>
    <!-- inject:js -->
    <script src="app.module.js"></script>
    <script src="common/exceptionHelper.factory.js"></script>
    <script src="common/httpHelper.factory.js"></script>
    <script src="movieApp/app.config.js"></script>
    <script src="movieApp/home.controller.js"></script>
    <script src="movieApp/movie-result.directive.js"></script>
    <script src="movieCore/movie.factory.js"></script>
    <script src="omdb/omdb.factory.js"></script>
    <script src="movieApp/home/home.controller.js"></script>
    <script src="movieApp/results/results.controller.js"></script>
    <script src="movieApp/search/search.controller.js"></script>
    <!-- endinject -->
</body>

</html>
